.pcr-save {
    padding: 5.4px 24px !important;
}

.pickr .pcr-button::after {
    border-radius: 0.375rem;
}

.pickr .pcr-button::before {
    border-radius: 0.375rem;
}

#connectionDot {
    background-color: #4caf50;
    border-radius: 100px;
    aspect-ratio: 1;
    width: 18px;
    display: inline-block;
    margin-right: 8px;
}
