<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex">
        <span class="mb-3 mb-md-0 text-body-secondary">© 2025 <a class="text-body-secondary" href="https://www.youtube.com/@molodos" target="_blank">Molodos</a></span>
    </div>
    <div class="col-md-4 justify-content-end d-flex">
        <span class="mb-3 mb-md-0 text-body-secondary">Support this project by becoming a <a class="text-body-secondary" href="https://patreon.com/Molodos" target="_blank">Patreon</a></span>
    </div>
</footer>

<script src="/static/libs/jquery-3.6.0.min.js"></script>
<script src="/static/libs/popper_2.11.8.min.js"></script>
<script src="/static/libs/bootstrap_5.3.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
