<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head.html' %}
    <style id="optionalStyle">
        .optional {display: none;}
    </style>
    <style id="connectionDotStyle">
        #connectionDot {background-color: #ed143d;}
    </style>
</head>

<body>
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom d-flex justify-content-between  justify-content-center">
        <a href="https://www.youtube.com/@molodos" target="_blank"
           class="d-flex align-items-center text-body-emphasis text-decoration-none">
            <img src="/static/images/favicon/favicon.ico" height="32">
            <span class="fs-4" style="margin-left: 16px;">Anycubic NFC App by Molodos</span>
        </a>
        <span class="fs-5" style="align-content: end;"><span id="connectionDot"></span>NFC Reader <span id="connectionState">Disconnected</span></span>
    </header>

    <div class="p-5 mb-4 bg-secondary-subtle border rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Configure Spool Data</h1>
            <p class="col-md-8 fs-4">Use this tool to configure your spool data and write it to a NFC tag for a third
                party spool in a ACE Pro compatible way.</p>
            <form method="POST" class="fs-5">
                <div class="row">
                    <div class="col-sm-3 mb-3">
                        <label for="type" class="form-label">Filament Type</label>
                        <select class="form-select" id="type" name="type" aria-describedby="typeHelp" required>
                            <option value="" selected disabled>(Select filament type)</option>
                            {% for type in filament_types %}
                                <option value="{{ type }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                        <div id="typeHelp" class="form-text fs-6">Changing the type will update the temperature and speed presets below</div>
                    </div>
                    <div class="col-sm-2 mb-3">
                        <label class="form-label">Color</label>
                        <div id="colorPicker"></div>
                        <input type="hidden" id="colorInput" name="color" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label for="bedMin" class="form-label">Bed Temperature Range (°C)</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="number" min="0" class="form-control" id="bedMin" name="bedMin"
                                       placeholder="Min bed temp" required>
                            </div>
                            <div class="col-sm-6">
                                <input type="number" min="0" class="form-control" id="bedMax" name="bedMax"
                                       placeholder="Max bed temp" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-3 optional">
                        <label for="speedMinA" class="form-label">Speed Range (mm/s)</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="number" min="0" class="form-control" id="speedMinA" name="speedMinA"
                                       placeholder="(Optional)">
                            </div>
                            <div class="col-sm-6">
                                <input type="number" min="0" class="form-control" id="speedMaxA" name="speedMaxA"
                                       placeholder="(Optional)">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="nozzleMinA" class="form-label">Nozzle Temperature Range (°C)</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="number" min="0" class="form-control" id="nozzleMinA" name="nozzleMinA"
                                       placeholder="Min nozzle temp" required>
                            </div>
                            <div class="col-sm-6">
                                <input type="number" min="0" class="form-control" id="nozzleMaxA" name="nozzleMaxA"
                                       placeholder="Max nozzle temp" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-3 optional">
                        <label for="speedMinB" class="form-label">Speed Range 2 (mm/s)</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="number" min="0" class="form-control" id="speedMinB" name="speedMinB"
                                       placeholder="(Optional)">
                            </div>
                            <div class="col-sm-6">
                                <input type="number" min="0" class="form-control" id="speedMaxB" name="speedMaxB"
                                       placeholder="(Optional)">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3 optional">
                        <label for="nozzleMinB" class="form-label">Nozzle Temperature Range 2 (°C)</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="number" min="0" class="form-control" id="nozzleMinB" name="nozzleMinB"
                                       placeholder="(Optional)">
                            </div>
                            <div class="col-sm-6">
                                <input type="number" min="0" class="form-control" id="nozzleMaxB" name="nozzleMaxB"
                                       placeholder="(Optional)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-3 optional">
                        <label for="speedMinC" class="form-label">Speed Range 3 (mm/s)</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="number" min="0" class="form-control" id="speedMinC" name="speedMinC"
                                       placeholder="(Optional)">
                            </div>
                            <div class="col-sm-6">
                                <input type="number" min="0" class="form-control" id="speedMaxC" name="speedMaxC"
                                       placeholder="(Optional)">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3 optional">
                        <label for="nozzleMinC" class="form-label">Nozzle Temperature Range 3 (°C)</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="number" min="0" class="form-control" id="nozzleMinC" name="nozzleMinC"
                                       placeholder="(Optional)">
                            </div>
                            <div class="col-sm-6">
                                <input type="number" min="0" class="form-control" id="nozzleMaxC" name="nozzleMaxC"
                                       placeholder="(Optional)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" name="showOptional" id="optionalFields">
                        <label class="form-check-label" for="optionalFields">
                            Show advanced spool data fields (optional)
                        </label>
                    </div>
                </div>
                <button class="btn btn-outline-dark btn-lg mt-2 me-2" type="button" onclick="readTag()">Read from NFC Tag</button>
                <button class="btn btn-dark btn-lg mt-2" type="button" onclick="writeTag()">Write to NFC Tag</button>
            </form>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6 mb-2">
            <div class="h-100 p-5 bg-info-subtle border rounded-3">
                <h2>Help Researching</h2>
                <p>Use this tool to create a dump of an original Anycubic spool tag to support the research for this
                    app. The dump of one of the two spool sides is enough.</p>
                <p>You can send me your dumps via email to <a
                        href="mailto:anycubic-nfc-research@molodos.com?subject=Anycubic%20NFC%20Tag%20Research&body=Material%20(e.g.%20%22PLA%2B%22)%3A%0AColor%20(e.g.%20%22Pearl%20Black%22)%3A%0AAdditional%20information%3A%0A%0A(please%20don't%20forget%20to%20attach%20the%20dump%20file)">anycubic-nfc-research@molodos.com</a>.
                    Please include details on which exact spool you scanned (material, color, etc.).</p>
                <p>Thanks for your support!</p>
                <button class="btn btn-outline-dark" type="button">Create a Spool Dump</button>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="h-100 p-5 bg-success-subtle border rounded-3 fs-5">
                <h2>Required Hardware</h2>
                <p>Buy the hardware via the affiliate links below to support this project without additional cost:</p>
                <ul>
                    <li>ACR122U NFC reader for reading and writing NFC tags. Get one
                        <a href="https://amzn.to/4h24oZQ" target="_blank">here</a></li>
                    <li>Two NTAG213 NFC tags are needed per spool. Get some
                        <a href="https://amzn.to/4kzatQm" target="_blank">here</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% include 'components/foot.html' %}
    <script src="/static/script/optional-fields.js"></script>
    <script src="/static/script/color-picker.js"></script>
    <script src="/static/script/presets.js"></script>
    <script>
       updatePresets({{ filament_presets | tojson }});
    </script>
    <script src="/static/script/websocket.js"></script>
</div>
</body>
</html>
